[tool.ruff]
# Enable pycodestyle (`E`) and Pyflakes (`F`) codes by default.
select = ["ALL"]
ignore = ["D", "INP001", "T20", "PLW0603", "FBT", "ANN101", "ANN102", "ANN204", "EXE", "ANN401", "PTH123", "TD", "FIX", "S301", "S101", "EM101", "TRY003", "RSE102"]

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Same as Black.
line-length = 150

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

target-version = "py311"

pylint.max-args = 8

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.flake8-quotes]
inline-quotes = "single"

[tool.ruff.flake8-annotations]
suppress-dummy-args = true
mypy-init-return = true

[tool.ruff.flake8-builtins]
builtins-ignorelist = ["id", "type"]

[tool.ruff.per-file-ignores]
"tests/**/*.py" = ["S101", "ANN201", "PLR2004"]
"accounts/client.py" = ["N803", "B008"]

[tool.mypy]
allow_redefinition = true
plugins = ["pydantic.mypy"]
ignore_missing_imports = true
